*{
  font-family: 'Poppins', sans-serif !important;

}
body {
  background: whitesmoke;
}

div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
a.gotoc {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: whitesmoke;
  background-color: rgb(126, 13, 13);
  padding: 1.3vh;
  font-size: 2vh;
  font-weight: 600;
  border-radius: 8%;
  text-decoration: none;

}

.dark-theme {
  background-color: black;
  color: antiquewhite;
  border: #04AA6D;
}