body{
    height: 1000px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    background-color: whitesmoke;
}
.dark-theme{
    background-color: black;
    color: white;
}
.ima{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flex1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.flex2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex3{
    padding: 2%;
    margin: 5%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction:column ;
}
#as{
    height: auto;
    width: 50%;
}
@media (max-width : 570px) {
    .flex3{
        flex-direction: column !important ;
    }
    #as{
        width: 100%;
    }
}
.flexx1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.flexx2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flexx3{
    padding: 2%;
    margin: 5%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#ass{
    height: auto;
    width: 50%;
}
@media (max-width : 570px) {
    .flexx3{
        flex-direction: column !important ;
    }
    #ass{
        width: 100%;
    }
}
.fle1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.fle2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fle3{
    padding: 2%;
    margin: 5%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#ac{
    height: auto;
    width: 50%;
}
@media (max-width : 570px) {
    .fle3{
        flex-direction: column !important ;
    }
    #ac{
        width: 100%;
    }
}
.form1{
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 2px solid white ;
    background-color: darkred;
}
#p1{
    color: aliceblue;
}

